html {
    background-color: rgb(103, 65, 136);
}

body{
    height: 100vh;
}

.container{
    background-color: rgb(247, 239, 229);
    height: fit-content;
    border-radius: 20px;
    justify-content: center;
    padding: 20px 50px 50px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.row{
    display: flex;
    background-color: rgb(226, 191, 217);
    border-radius: 40px;
    max-width: 550px;
    gap: 0;
    height: 80px;
}

h1{
    text-align: center;
    color: rgb(103, 65, 136);
    font-size: 3rem;
}

h6{
    text-align: center;
    color: rgb(103, 65, 136);
    font-size: 2rem;
    margin: 0;
    margin-bottom: 40px;
}

input{
    border-radius: 30px;
    border: 0;
    font-size: 2rem;
    background: transparent;
    flex: 1;
    padding: 0 25px 0 25px;
    color: rgb(103, 65, 136);
    padding: 0 20px;
    outline: none;
}

.row button{
    padding: 0 30px;
    border: 0;
    width: 150px;
    height: 80px;
    border-radius: 50px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: rgb(200, 161, 224);
    color: rgb(103, 65, 136);
}

ul li {
    font-size: 2rem;
    list-style: none;
    padding: 12px 8px 12px 50px;
    color: rgb(103, 65, 136);
    position: relative;
    cursor: pointer;
    display: flex;
    flex: auto;
    justify-content: flex-end;
}

ul li div{
    flex: 1;
}

.checked div{
    text-decoration: line-through;
}

.checked::before {
    content: '';
    position:absolute;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background:url("./images/tick.png");
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply;
    top: 20px;
    left: 0px;
    margin-right: 10px  ;
}

ul li span{
    /* position: absolute; */
    /* flex: 1; */
    right: 0;
    top: 15px;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    /* background-color: rgb(200, 161, 224); */
}

ul li span:hover{
    background: rgb(200, 161, 224);
    cursor: pointer;
}

ul li button{
    /* flex: 1; */
    left: 82%;
    /* padding: 0 30px; */
    border: 0;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: rgb(200, 161, 224);
    color: rgb(103, 65, 136);
    text-decoration: none;
}

.Clear-container{
    display: flex;
    justify-content: center;
}

#clear{
    /* flex: 1; */
    left: 82%;
    padding: 0 30px;
    margin: 20px 0;
    border: 0;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(200, 161, 224);
    color: rgb(103, 65, 136);
    text-decoration: none;
}
